<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 日志记录文件的保存根路径 -->
    <substitutionProperty name="logbase" value="${catalina.base}/logs/"/>
    <jmxConfigurator/>
    <!-- 输出到终端控制台 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
        </layout>
    </appender>
    <!-- 输出到文本文件 -->
    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logbase}/%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>60</MaxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%date %level %thread %10logger %file %line %msg%n</pattern>
        </encoder>
    </appender>
    <root>
        <!-- 配置日志输出级别 -->
        <level value="DEBUG" />
        <appender-ref ref="stdout"/>
        <appender-ref ref="logfile"/>
    </root>
</configuration>